<SpinLoader IsLoading="true">
    <LoadingTemplate>
        <div class="card" style="background-color: #8c52ff; border: none">
            <div class="card-body">
               
            </div>
        </div>
        <div class="card" style="background-color: #8c52ff; border: none">
            <div class="card-body">
                <br /><br />
                <Wander Center="true" Color="white" Size="70px"></Wander>
            </div>
        </div>
        <div class="card" style="background-color: #8c52ff; border: none">
            <div class="card-body">

            </div>
        </div>
    </LoadingTemplate>
</SpinLoader>
