<br />

<div class="d-flex flex-row-reverse">
    <h6>August 22, 2020</h6>
</div>

<div class="card border-dark">
    <div class="card-body">
        <h4 class="card-title">Lemon Switchel</h4>
        <p class="card-text">Who would have thought that adding the juice of a mouth-puckering lemon would balance out the spiciness of the ginger. We added lemon juice to batches #2 and #3 and this ingredient found a permanent spot in our recipe.</p>
    </div>
    <img class="card-img-top" src="/images/lemon_switchel.jpg" alt="Lemon Switchel in a Cup">
</div>

<br />

@code {

}
