@page "/"
@inject IJSRuntime js

<div class="opener">
    <h4 id="test">Welcome to the Shawnee Switchel Digital Shop!</h4>
    <p>Stop by every once and a while to get the latest on what's happening.</p>
</div>

<a href="updates" class="btn btn-dark btn-outline-light mb-2">VIEW UPDATES</a>
<br />

<button id="notifications" class="btn btn-dark" hidden>Don't Click ME!</button>

@code {

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await js.InvokeVoidAsync("initializeCounterComponent");
        }
    }

}


