@page "/updates"

<div class="opener">
    <h1>What's Happening?</h1>
    <h5>We're making progress every day. Stop back daily for the latest updates!</h5>
    <hr />
</div>

<br />

<div class="d-flex flex-row-reverse">
    <h6>August 26, 2020</h6>
</div>

<div class="card border-dark shadow">
    <div class="card-body">
        <h4 class="card-title">Super Batch</h4>
        <p class="card-text">Being one of the hottest weeks ever, we made a full liter of our thirst-quenching lemon switchel and we've almost reached the bottom. The key to success? Hydration!</p>
    </div>
    <img class="card-img-top" style="image-orientation: 0deg" src="/images/batch_4.jpg" alt="Lemon Switchel in Glass Container">
</div>

<br />

<UpdateCard />

<div class="card border-dark shadow">
    <div class="card-body">
        <h4 class="card-title">Batch #1</h4>
        <p class="card-text">This first attempt is far from perfection if we're talking only about taste, but at least we're still getting all of the amazing health benefits from drinking our experiments.</p>
    </div>
    <img class="card-img-top" src="/images/batch_1.jpg" alt="Bottle of switchel">
</div>

<br />

<div class="card border-dark shadow">
    <div class="card-body">
        <h4 class="card-title">The Shipment</h4>
        <p class="card-text">The primary ingredients have arrived. Batch No. 1, here we come!</p>
    </div>
    <img class="card-img-top" src="/images/ingredients.jpg" alt="Primary ingredients">
</div>

<br />

<div class="card border-dark shadow mb-3">
    <div class="card-body">
        <h4 class="card-title">We're Up and Running</h4>
        <p class="card-text">Our spin on this classic, American drink is so delicious and natural, even mother nature can't keep her hands off of it!</p>
    </div>
    <img class="card-img-bottom" src="/images/gorilla_drink_cropped.png" alt="Gorilla sipping on switchel">
</div>

@*<h1>Counter</h1>

    <p>Current count: @currentCount</p>

    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>*@

@code {
    //private int currentCount = 0;

    //private void IncrementCount()
    //{
    //    currentCount++;
    //}
}
